# Ignore Python bytecode files
/table_annotator/__pycache__/
*.pyc
*.pyo

# Ignore specific log file
/table_annotator/tde_log.txt

# Ignore private files and folders
/table_annotator/annotated_tables/
/local_resources/
